@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    DEME NV<br />
    Scheldedijk 30<br />
    Haven 1025<br />
    <abbr title="Phone">P:</abbr>
    +32 3 250 52 11
</address>

<address>
    <strong>Info:</strong> <a href="mailto:info.deme@deme-group.com">info.deme@deme-group.com</a><br />
</address>
